apiVersion: v1
kind: Service
metadata:
  name: {{ include "sre-challenge.fullname" . }}-frontend
  labels:
    {{- include "sre-challenge.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "sre-challenge.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
